<html>
<head>
    <link rel="stylesheet" href="/get-the-awoo-off-my-lawn/index.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
<img src="/get-the-awoo-off-my-lawn/license-template.png"/>
<img src="<%= avatar %>"
     class="avatar"/>

<p class="header"><%= title %></p>
<% if (badges && badges.length > 0) { %>
<% for (let i = 0; i < badges.length; i++) { %>
<img class="badge badge-<%= i + 1 %>"
     src="<%= badges[i] %>"/>
<% } %>
<% } %>
<% if (widgets && widgets.length > 0) { %>
<% for (let x = 0; x < widgets.length; x++) { %>
<div class="widget <% if (x < 2) { %> small-widget <% } %> widget-<%= x + 1 %>">
    <p><%= widgets[x] %></p>
</div>
<% } %>
<% } %>
</body>
</html>
